@import "~bootstrap/scss/bootstrap";

body {
  background-color: #343a40 !important;
}

.edit-btn {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-image: url("./uploads/edit-i.svg");
}

.loader-bg {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}